@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    background-color: #FFF9CA;
}

textarea {
    display: block;
    position: relative;
    height: 20vh;
    width: 60vw;
    left: 18vw;
    margin-bottom: 20px;
    top: 10px;
}

#entri {
    margin: 10px;
}

.card-body h2, .card-body h6 {
    text-align: left;
}

#hapus {
    display: none;
    position: relative;
    float: right;
}

header {
    background-color: #FFF9CA;
}

#masukan {
    background-color: #FFDEB4;
}

#entryButton {
    margin-bottom: 10px;
}

#whiteMode {
    position: relative;
    float: right;
    margin-right: 10px;
    margin-bottom: 10px;
}